@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);

  margin: 0;
  padding: 0;
}

.jumbotron {
  font-size: 20px;
  padding: 3px;
  background-color: #2af598;
  text-align: center;
  color: black;
  font-family: "Poppins", sans-serif;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
  padding: 10px;
}

nav a:hover {
  font-weight: bold;
  border-radius: 4px;
  background-color: #08aeea;
}

nav li {
  list-style-type: none;
}

nav ul {
  justify-content: center;
  padding-left: 0;
  display: flex;
}

nav {
  background-color: #08aeea;
  padding: 5px;
  position: sticky;
  top: 0;
  text-align: center;
}

header {
  display: inline;
}
h2 {
  padding-top: 0;
}

.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.by-web img {
  width: 200px;
  justify-content: center;
  border: 2px;
  border-color: black;
  border-radius: 50%;
}

.by-web header {
  text-align: center;
  margin: auto;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0 20px 5px 20px;
  background-color: white;
}

main {
  padding: 20px;
  display: flex;
  gap: 1.5rem;
}

#content {
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

th,
td {
  text-align: left;
  padding: 4px;
}

/* media query */
@media screen and (max-width: 1000px) {
  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }
  main aside {
    align-self: center;
  }
}
@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
    padding: 0;
  }

  main aside {
    align-self: stretch;
  }
}

/* button scroll top */
#btnScrollTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  color: white;
  background-color: black;
  outline: none;
  cursor: pointer;
}

footer {
  padding: 3px;
  color: white;
  background-color: #161718;
  text-align: center;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 1px solid #d6faff;
  border-radius: 10px;
}
